In [28]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE, SMOTENC

In [7]:
df = pd.read_csv("sample_dataset.csv").iloc[:,-10:].dropna()

In [9]:
X = df.iloc[:,0:-1]

In [10]:
y = df['target']

In [12]:
X_scaled = StandardScaler().fit_transform(X)

In [13]:
y.value_counts()

1    61
0    35
Name: target, dtype: int64

# SMOTE with numerical features

In [14]:
resampler = SMOTE(random_state = 0)

In [15]:
X_res, y_res = resampler.fit_resample(X_scaled, y)

In [16]:
y_res.value_counts()

1    61
0    61
Name: target, dtype: int64

# SMOTE with categorical features

In [25]:
df = pd.read_csv("sample_dataset.csv").loc[:,['mean radius', 'mean texture', 'mean perimeter','area error','target']].dropna()

In [26]:
df

     mean radius  mean texture  mean perimeter area error  target
1          20.57         17.77          132.90          A       0
2          19.69         21.25          130.00          A       0
3          11.42         20.38           77.58          A       0
7          13.71         20.83           90.20          A       0
8          13.00         21.82           87.50          A       0
..           ...           ...             ...        ...     ...
561        11.20         29.37           70.67          A       1
563        20.92         25.09          143.00          A       0
564        21.56         22.39          142.00          A       0
566        16.60         28.08          108.30          A       0
567        20.60         29.33          140.10          A       0

[332 rows x 5 columns]

In [27]:
X = df.iloc[:,0:-1]
y = df['target']

In [32]:
y.value_counts()

1    211
0    121
Name: target, dtype: int64

In [33]:
resampler = SMOTENC(random_state = 0, categorical_features = [3], k_neighbors = 10)

In [34]:
X_res, y_res = resampler.fit_resample(X,y)

In [35]:
y_res.value_counts()

1    211
0    211
Name: target, dtype: int64