In [1]:
import pandas as pd

In [2]:
from sklearn.impute import KNNImputer

In [3]:
df = pd.read_csv("sample_dataset.csv")

In [4]:
X = df.iloc[:,0:3]

In [5]:
X

     mean radius  mean texture  mean perimeter
0            NaN         10.38          122.80
1          20.57         17.77          132.90
2          19.69         21.25          130.00
3          11.42         20.38           77.58
4          20.29         14.34             NaN
..           ...           ...             ...
564        21.56         22.39          142.00
565          NaN         28.25          131.20
566        16.60         28.08          108.30
567        20.60         29.33          140.10
568         7.76           NaN           47.92

[569 rows x 3 columns]

# KNN imputer

In [6]:
cleaner = KNNImputer(n_neighbors=10)

In [7]:
cleaner.fit_transform(X)

array([[ 15.8968,  10.38  , 122.8   ],
       [ 20.57  ,  17.77  , 132.9   ],
       [ 19.69  ,  21.25  , 130.    ],
       ...,
       [ 16.6   ,  28.08  , 108.3   ],
       [ 20.6   ,  29.33  , 140.1   ],
       [  7.76  ,  19.408 ,  47.92  ]], shape=(569, 3))

# KNN Imputer with weights

In [8]:
cleaner = KNNImputer(n_neighbors=10, weights="distance")

In [18]:
cleaner.fit_transform(X)

array([[ 15.51148032,  10.38      , 122.8       ],
       [ 20.57      ,  17.77      , 132.9       ],
       [ 19.69      ,  21.25      , 130.        ],
       ...,
       [ 16.6       ,  28.08      , 108.3       ],
       [ 20.6       ,  29.33      , 140.1       ],
       [  7.76      ,  24.25892267,  47.92      ]])